.Dashboard_Page {
  display: flex;
  padding: 0 10px;
}

.Dashboard_Container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin: 0 auto;
}

.Dashboard_Container_Style {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  border-left: 8px solid #303a84;
  margin: auto;
}

.Dashboard_MapComponents_Container {
  display: flex;
  flex-direction: row;
  margin: auto;
  border-top: 1px solid #888888;
}

.larger-text {
  font-size: 32px;
  font-weight: bold;
}

.medium-text {
  font-size: 18px;
  font-weight: bold;
}

.small-text {
  font-size: 16px;
  font-weight: bold;
}

.color-dark-blue {
  color: #303a84;
}

.color-light-gray {
  color: #888888;
}
