.MapInfo_Container {
  display: block;
  flex-direction: column;
}

.MapInfo_Section {
  width: 180px;
  padding: 0 16px;
  text-align: left;
  border-bottom: 1px solid #888888;
}

.larger-text {
  font-size: 32px;
  font-weight: bold;
}

.medium-text {
  font-size: 18px;
  font-weight: bold;
}
