.MapInfo_Container {
  display: flex;
  flex-direction: column;
}

.MapInfo_ViewButton {
  color: #303a84;
  padding: 6px 4px;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  border: 2px solid #303a84;
  border-radius: 8px;
  margin: auto 6px;
}

.MapInfo_Section {
  width: 180px;
  padding: 6px 10px;
  text-align: left;
  border-bottom: 1px solid #888888;
}

.larger-text {
  font-size: 32px;
  font-weight: bold;
}

.medium-text {
  font-size: 18px;
  font-weight: bold;
}

.small-text {
  font-size: 16px;
  font-weight: bold;
}
