.MapPage {
  max-width: 411px;
  margin: 0 auto;

  padding: 1em;
  padding-top: 0;

  color: #303a84;
  font-size: 20px;
  line-height: 1.18;
}

.MapPage_content {
  max-width: 411px;
  margin: 0 auto;
  background-color: #303a84;
  color: white;
  flex: 1;
  padding: 2em;
  text-align: left;
}

.MapPage_content a {
  color: rgb(141, 225, 253);
}
