html,
body,
#root,
.App > div {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #f3f7f8;
}

.page {
  min-height: 100vh;
}

/* form CSS */
.form_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  padding: 2em;
}

.form_error_message {
  color: #ff6565;
  height: 21px;
}

.form_error {
  border: 1px solid #ff6565 !important;
}

.shared_header {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #303a84;
}

.MuiInputBase-root {
  color: #2699fb !important;
}
