.ExploreData_Container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.ExploreData_Text {
  text-align: left;
  padding: 1rem 0;
  text-transform: uppercase;
}

.ExploreData_Blurb {
  text-align: left;
}

.ExploreData_Buttons_Container {
  margin-right: auto;
}

.ExploreData_Buttons {
  color: #303a84;
  background-color: white;
  border-color: #303a84;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.ExploreData_Buttons.selected {
  background-color: #fbf951;
  /* color taken from logo-- maybe needs updated */
}

@media (hover: hover) {
  .ExploreData_Buttons:hover {
    background-color: #d6edff;
  }
}
