.MapHead_Container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.MapHead_Label {
  text-align: left;
  padding: 1rem;
  text-transform: uppercase;
}

.DateRange_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

.DateRange_Start, .DateRange_End {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.DateRange_Start {
  margin-right: auto;
  border-right: 1px solid #888888;
}

.DateRange_End {
  margin-left: auto;
  border-left: 1px solid #888888;
}

.DateRange_Label {
  font-size: 14px;
}

.DateRange_Date {
  font-size: 18px;
  font-weight: bold;
}

.DateSlider_Container {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 6px;
  width: 90%;
  cursor: pointer;
  background: #303a84;
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 5px;
  border-radius: 8px;
  background: #303a84;
  cursor: pointer;
  margin-top: 0px;
}

input[type="range"]:focus {
  outline: none;
}
