.MapInfo_Container {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  min-width: 15rem;
  flex: 1 0;
}

.MapInfo_Section {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #888888;
}
