.Mapv2Overlay_Container {
  position: absolute;
  right: 40px;
  top: 0px;
  height: 100%;
}

.MapButtons_Container {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  background: #bce0fd79;
  border: 2px solid #303a84a2;
  padding: 6px 4px;
  border-radius: 8px;
  width: 30px;
}

.Map_Button {
  border-radius: 8px;
  border: 2px solid #303a84cc;
  color: #303a84;
  background: rgba(219, 219, 219, 0.5);
  margin: 2px 0;
  width: 30px;
  height: 30px;
}

.Map_Legend_Container {
  position: relative;
  top: 75%;
  display: flex;
  flex-direction: row;
  background: #bce0fd79;
  border: 2px solid #303a84a2;
  padding: 6px 4px;
  border-radius: 8px;
}

.Map_Legend_Col {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  margin: 0 0.1rem;
}

.Map_Legend_Color {
  width: 25px;
  height: 25px;
  border: 1px solid #303a84a2;
  margin: auto;
}

.Map_Legend_Label {
  margin: auto 0;
  text-align: left;
  color: #303a84;
  font-weight: bold;
  font-size: 0.7rem;
}

.color-nodata {
  background-color: rgb(220, 220, 220);
}
.color-s1 {
  background-color: #f8e9bf;
}
.color-s2 {
  background-color: #dba487;
}
.color-s3 {
  background-color: #ba605d;
}
.color-s4 {
  background-color: #94003a;
}

.color-t1 {
  background-color: #f2e1f5;
}
.color-t2 {
  background-color: #c990d6;
}
.color-t3 {
  background-color: #9445ab;
}
.color-t4 {
  background-color: #500b65;
}
